.gallery-preview {
    overflow: hidden;
    width: 100%;
    padding: 20px;
}
.gallery-track {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scroll 30s linear infinite;
}
.gallery-track img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.gallery-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}